<section class="hobbies">
    <article class="hobby">
        <img src="/index/photos/pedroquintela-1500x844.jpg" alt="">
        <h2>Photography</h2>
        <p>Today I was in nature and decided to apply my hobby while enjoying the fresh air and the beautiful
            view. </p>
        <a href="">Anna</a> <a href="">Comments</a>
    </article>
    <article class="hobby">
        <img src="/index/photos/Frangipani_flowers.jpg" alt="">
        <h2>Flowers</h2>
        <p>I love flowers. What flowers do you have and how do you take care of them?</p>

        <span>Anna</span> <a href="">Comments</a>
    </article>
</section>