main{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px
}
.info{
     width: 30%;
}

.info p{
  font-size: 30px;
   color: white;
}

form{
    background-color: cornsilk;
    margin-left: 14%;
    margin-right: 2%;
    width: 30vw;
    text-align: center;
    height: 63vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
 form h2{
    margin-top: 35px;
    font-size: 50px;
}

form .form-group{
   margin-bottom: 20px;
}

form input{
    margin-left: 10px;
    border-radius: 5px;
    height: 20px;
}

.error{
    color: wheat;
    background-color: red;
}

form button{
    width: 40%;
    background-color: mediumseagreen;
    color: white;
    border-radius: 20px;
    font-weight: 900;
    padding: 10px;
} 
