<div class="search">
    <i class="fa-solid fa-user"></i>
    <input  type="text" placeholder="Search...">

    <ul class="categories">
        <li class="category">
            <a href="">All categories</a>
        </li>
        <li class="category">
            <a href="">Photography</a>
        </li>
        <li class="category">
            <a href="">Flowers</a>
        </li>
        <li class="category">
            <a href="">Painting</a>
        </li>
        <li class="category">
            <a href="">Biking</a>
        </li>
    </ul>
</div>
