
    <main>
        <div class="advertisment">
            <p>If you want to have fun, find something to do other than work or study,
                register in the hobby world and you will find a huge number of ways to spend your free time,
                have fun and also find friends to share your hobby with.</p>
        </div>
        <div class="questions">
            <img class="bakground"
                src="/index/photos/portrait-clueless-blond-woman-scratching-head-looking-upper-right-corner-confused.jpg"
                alt="">

            <div class="steps">
                <p>Choosing the Right Hobby</p>
                <ul>
                    <li>What is that thing you’ve always wanted to do?</li>
                    <li>Look at your childhood</li>
                    <li>How do you like to spend your time?</li>
                    <li>Go on a quest for inspiration</li>
                    <li>Take a class or a lesson</li>
                    <li>Consider Everyday Activities as Potential Hobbies
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions">
            <div class="steps">
                <ul>What you get if you register?
                    <li>New friends</li>
                    <li>You find your favourite activity</li>
                    <li>You share it with others</li>
                    <li>You find different ways to practice your hobby</li>
                </ul>
                
            </div>
            <img class="bakground_2"
                src="/index/photos/enthusiastic-office-woman-businesswoman-holding-laptop-shouting-with-joy-celebrating-rejoicing-standing-white-background.jpg"
                alt="">
        </div>
    </main>
