<main>
    <section class="welcome">     
       <h1>Welcome in the world of hobbies</h1>
        <img class="background" src="../../../assets/resources/3q4FGEQG7WSBrhL8doedq7.jpg" alt="">
        <p>If you want to learn new things or just want to find people with similar interests as
            yours just sign up and see how many interesting things people can have.</p>

    </section>

    <h2 class="h2-hobbies">Here you can see some of hobbies </h2>
    <section class="hobbies">
        
        <article class="hobby">
            <img src="../../../assets/resources/adobestock_69893480_0.jpeg" alt="">
            <h2>Photography</h2>
            <p>Today I was in nature and decided to apply my hobby while enjoying the fresh air and the beautiful
                view</p>
            <span>Anna</span>  <a href="">Comments</a>
        </article>
        <article class="hobby">
            <img src="photos/Frangipani_flowers.jpg" alt="">
            <h2>Flowers</h2>
            <p>I love flowers. What flowers do you have and how do you take care of them?</p>
            <span>Anna</span> <a href="">Comments</a>
        </article>
        <article class="hobby">
            <img src="photos/Forest-Acrylic-Painting-for-Beginners-Step-by-StepEasy-Acrylic-Simple-Acrylic-Beginner-Easy.jpg"
                alt="">
            <h2>Painting</h2>
            <p>Drawing is my passion. I am best at painting landscapes.</p>
            <span>Anna</span> <a href="">Comments</a>
        </article>
        <article class="hobby">
            <img src="photos/adobestock_69893480_0.jpeg" alt="">
            <h2>Biking</h2>
            <p>My favorite sport is cycling? I practice it mostly in the mountains. Where do you prefer? </p>
            <span>Anna</span> <a href="">Comments</a>
        </article>
    </section>
</main>
