<main>
    <form #form="ngForm" action="" method="post" (ngSubmit)="login(form)">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username</label>
            <input #usernameInput="ngModel" ngModel type="username" name="username" required>
            <ng-container *ngIf="usernameInput.touched">
                <p *ngIf="usernameInput.errors?.['required']" class="error">Username is required</p>

            </ng-container>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #passwordInput="ngModel" type="password" name="password" ngModel required [minlength]="4">
            <ng-container *ngIf="passwordInput.touched">
                <p *ngIf="passwordInput.errors?.['required']" class="error">Password is required</p>
                <p *ngIf="passwordInput.errors?.['minlength']" class="error">Invalid password
                </p>
            </ng-container>
        </div>
        <button>Login</button>
    </form>
    <div>
        <p>Don't have an account? Register from</p>
        <a href="">here</a>
    </div>
</main>